<!DOCTYPE html>
<html lang="en">
<head class="text-center">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginRegisterApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginRegisterApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-white border-bottom box-shadow mb-3 ">
            <div class="container-fluid ">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><h4>LoginRegisterApp</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><h5>Home</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="#"><h5>About Us</h5></a>
                        </li>                 
                    </ul>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="" style="margin-inline-end:10px" >
                        <a href="/Home/Create"><button type="button" class="btn btn-primary">Sing Up</button></a>
                    </div>
                    <div class="">
                        <a href="/Home/Login"><button type="button" class="btn btn-primary">Sign In</button></a>
                    </div>                                      
                </div>
            </div>
        </nav>
    </header>

    <style>
        
    </style>
    <div class="container" style="padding:0;  " >
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LoginRegisterApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
