@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="text-center mt-3">
        <div class="alert alert-success" role="alert">
            Successfully Registered!
        </div>
        <br><br><br>
        <h2>🎊🎉Congratulation🎊🎉 You Have been Successfully Registered</h2>
        <br /><br>
        <h4>Click below for Log in</h4>
        <h1>👇</h1>
        <a href="/Home/Login">
            <button type="button" class="btn btn-secondary">Log in</button>
        </a>
    </div>
}



