@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br /><br />
    <h1 class="display-4">🙏 Welcome To My World 🙏</h1>
</div>
<br />
<br />
<br />
<div class="text-center">
    <h3 >Click here for Registration </h3>
</div>
<br />
<div class="text-center">
    <a href="/Home/Create">
        <button type="button" class="btn btn-secondary"><h1>👇</h1>Registration</button>
    </a>   
</div>
